<form action="/fast-food" method="post">
    <div class="form-group">
        <input class="form-control my-5" type="text" name="name" id="name">
        <input class="form-control my-5" type="text" name="logo" id="logo">
        <textarea class="form-control my-5" name="description" id="description" cols="30" rows="10"></textarea>
        <input class="btn btn-success" type="submit" value="submit">
    </div>
</form>