<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="jumbotron">
        <h2>just form</h2>
    </div>
    <%- include("partials/form") %>
</div>

<%- include("partials/footer") %>